<!DOCTYPE html>
<html>
  <body>

      <form action="/result" method="POST">
          <p>
              Delay (s) <input type="number" name="Delay" min="0">
          </p>
          <p>
              <select id="Team" name="Team">
                    <option value="Canadiens">Canadiens</option>
                    <option value="Bruins">Bruins</option>
                    <option value="Hurricanes">Hurricanes</option>
                    <option value="Blue Jackets">Blue Jackets</option>
                    <option value="Devils">Devils</option>
                    <option value="Islanders">Islanders</option>
                    <option value="Rangers">Rangers</option>
                    <option value="Flyers">Flyers</option>
                    <option value="Penguins">Penguins</option>
                    <option value="Capitals">Capitals</option>
                    <option value="Sabres">Sabres</option>
                    <option value="Wings">Wings</option>
                    <option value="Panthers">Panthers</option>
                    <option value="Senators">Senators</option>
                    <option value="Maple Leafs">Lightning</option>
                    <option value="Lightning">Lightning</option>
                    <option value="Blackhawks">Lightning</option>
                    <option value="Avalanche">Lightning</option>
                    <option value="Stars">Lightning</option>
                    <option value="Wild">Lightning</option>
                    <option value="Predators">Lightning</option>
                    <option value="Blues">Lightning</option>
                    <option value="Jets">Lightning</option>
                    <option value="Ducks">Lightning</option>
                    <option value="Coyotes">Lightning</option>
                    <option value="Flames">Lightning</option>
                    <option value="Oilers">Lightning</option>
                    <option value="Kings">Lightning</option>
                    <option value="Sharks">Lightning</option>
                    <option value="Canucks">Lightning</option>
         	    </select>
          </p>
          <p>
              <input type="submit" value="submit" />
          </p>
      </form>

  </body>
</html>
