<!doctype html>
<html>

<head>
    <style media="screen">
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            padding-left: 2em;
        }
    </style>
</head>

<body>

    <h1>NHL GOAL LIGHT !!</h1>

    <h2>API DOCUMENTATION</h2>

    <h3><a href="/api/v1/season">/api/v1/season</a> Return true if a Hockey season is in progress<h3>

      <h3><a href="/api/v1/teams">/api/v1/teams</a> : Get the list of teams<h3>

      <h3><a href="/api/v1/team/<team>/id">/api/v1/team/&ltteam&gt/id</a> : Get the ID of a team, ex: <a href="/api/v1/team/Canadiens/id">/api/v1/team/Canadiens/id</a><h3>

      <h3><a href="/api/v1/team/<team>/game">/api/v1/team/&ltid&gt/game</a> : Return true if a game is in progress for the given team ID. Ex: <a href="/api/v1/team/8/game">/api/v1/team/8/game</a><h3>

      <h3><a href="/api/v1/team/<team>/score">/api/v1/team/&ltid&gt/score</a> : Get the score of a given team ID, ex: <a href="/api/v1/team/8/score">/api/v1/team/8/score</a><h3>
        
      <h3><a href="/api/v1/team/<team>/end_game">/api/v1/team/&ltid&gt/end_game</a> : Return TRUE if game is over for the given team ID. Ex: <a href="/api/v1/team/8/end_game">/api/v1/team/8/end_game</a><h3>

      <h3><a href="/api/v1/goal_light/activate">/api/v1/goal_light/activate</a> : Activate the Goal light<h3>

   </body>
</html>
